@import url(//db.onlinewebfonts.com/c/d40bbce8f4b00a569beac2454b69231e?family=Oswald);
@import url(//db.onlinewebfonts.com/c/629a55a7e793da068dc580d184cc0e31?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    /* height: 6563px; */
}

.block {
    display: flex;
    flex-direction: column;
}

.home_screen {
    background: linear-gradient(177.86deg, #000000 -41.81%, rgba(0, 0, 0, 0.0001) 82.48%);
    background: url(img/black.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.header_nav {
    display: flex;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.75px;
    letter-spacing: 1.94px;
    text-transform: uppercase;
}

.header_nav-list {
    display: flex;
    margin-right: 313.48px;
    margin-top: 79px;
    list-style-type: none;
    color: white;
}

.header_nav-list :not(:last-child) {
    margin-right: 58.4px;
}

.header_nav-link {
    display: block;
    text-decoration: none;
}

.header_nav-link-underlined {
    border-bottom: 2px solid #4CAF50;
}

.header_nav-list-item :hover {
    border-bottom: 2px solid #4CAF50;
    cursor: pointer;
}

.huge_text {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4.608px;
    color: white;
    padding-top: 283px;
    padding-bottom: 24px;
}

.small_text {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* text-align: center; */
    letter-spacing: 1.28px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 303px;
}

.digits {
    display: flex;
    flex: 0 0 auto;
    height: 49px;
    align-self: center;
    /* margin-bottom: 19px; */
}

.digits :not(:last-child) {
    padding-right: 9px;
}

.one_digit {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26.68px;
    letter-spacing: 1.15px;
    color: #777;
}

.one_digit :hover {
    font-size: 36px;
    color: white;
    line-height: 10px;
    letter-spacing: 2.3px;
    cursor: pointer;
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-color: #4CAF50;
}

/**
CSS rules for second block ('We are the SQWD'...)
*/

.screen_sqwd {
    background: white;
    display: flex;
    flex: 0 0 1900px;
    flex-direction: column;
    max-width: 1900px;
    max-height: 825px;
    padding: 149px 353px 117px 105px;
}

.guy {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 590px;
    min-height: 391px;
    background: url(img/guy.png) no-repeat;
    background-color: white;
    background-position: right;
    z-index: 2;
}

.standing {
    position: relative;
    top: -215px;
    left: 203px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    min-width: 506px;
    min-height: 391px;
    background: url(img/standing.png) no-repeat;
    background-color: white;
    background-position: left;
    z-index: 0;
}

.text_we-are {
    display: inline;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 53.35px;
    letter-spacing: 2.3px;
    color: #333;
    text-transform: uppercase;
    padding-top: 82px;
    padding-left: 80px;
}

.text_the-sqwd {
    display: inline;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 2.69px;
    color: #504E4E;
    text-transform: uppercase;
    padding-top: 4px;
    padding-left: 90px;
    padding-bottom: 32px;
}

.text_quote {
    display: inline;
    min-width: 281px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.26px;
    color: #5B5858;
}

.text_quote-for-guy {
    margin-left: 140px;
}

.text_quote-for-standing {
    margin-left: 288px;
    margin-top: 236px;
}

.block-green-translucent {
    width: 309px;
    height: 418px;
    margin-top: 71px;
    margin-left: 222px;
    position: absolute;
    align-self: center;
    background: #4CAF50;
    opacity: 0.8;
    z-index: 1;
}

/**
CSS rules for third block ('Our Services'...)
*/

.block_services {
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
    height: 690px;
    background: #FBFBFB;
    padding: 129px 312px 136px 115px;
    margin: 0px 50px;
}

.services_row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.services_row :not(:last-child) {
    margin-right: 28px;
}

.services_container {
    background: white;
    min-width: 373px;
    min-height: 260px;
    padding: 50px 48px 35px 44px;
}

.services_container :first-of-type:hover {
    cursor: pointer;
    opacity: 100%;
}

.services_container:hover {
    border-bottom: #4CAF50 2px solid;
}

.services_container-caption {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 29.64px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
}

.services_container-caption-underlined {
    border-bottom: #252525 2px solid;
    padding-bottom: 15px;
}

.services_container-read-more {
    display: inline-block;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 14.82px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #929292;
    margin-top: 19px;
}

.services_container-text {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.01px;
    color: #777;
    margin-top: 36px;
}

.services_container-icon-branding {
    align-self: flex-end;
    position: absolute;
    margin-left: 225px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background: url(img/graphic-design.png) no-repeat;
    background-blend-mode: normal;
    opacity: 50%;
    box-shadow: 0 0 20px #DBDBDB;
    background-position: center;
}

.services_container-icon-design {
    align-self: flex-end;
    position: absolute;
    margin-left: 225px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background: url(img/pencil-case.png) no-repeat;
    background-blend-mode: normal;
    opacity: 50%;
    box-shadow: 0 0 20px #DBDBDB;
    background-position: center;
}

.services_container-icon-development {
    align-self: flex-end;
    position: absolute;
    margin-left: 225px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    background: url(img/coding.png) no-repeat;
    background-blend-mode: normal;
    opacity: 50%;
    box-shadow: 0 0 20px #DBDBDB;
    background-position: center;
}

.services_container-read-more :hover {
    cursor: pointer;
    color: black;
}

/* The main heading used on several pages*/
.heading {
    display: inline;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 71.14px;
    letter-spacing: 3.07px;
    margin-bottom: 94px;
}

.heading_underlined {
    border-bottom: #252525 2px solid;
    padding-bottom: 7px;
}

/**
CSS rules for 4th block ('Latest Works'...)
*/

.block_works {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
    min-height: 1989px;
    background: white;
    padding: 146px 217px 173px 170px;
}

.works_menu {
    display: inline;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

.works_menu-list {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    text-align: center;
}

.works_menu-list :first-child {
    padding-inline-start: 0;
}

.works_menu-list-item {
    display: inline;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17.7px;
    letter-spacing: 0.83px;
    text-transform: uppercase;
    color: #BEBEBE;
}

.works_menu-list-item a:hover {
    cursor: pointer;
    color: #252525;
    font-weight: 600;
}

.works_photography-photo-camera-container {
    display: inline;
    flex-direction: column;
    position: absolute;
    top: 146px;
    left: 760px;
}

.works_photography-kitten {
    background: url(img/kitten.png) center no-repeat;
    position: relative;
    left: -124px;
    top: -3px;
    width: 679px;
    height: 453px;
    margin-top: 158px;
}

.works_photography-camera {
    background: url(img/photo.png) center no-repeat;
    width: 727px;
    height: 482px;
}

.works_photography-caption {
    display: inline-block;
    color: #252525;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 71.14px;
    letter-spacing: 3.07px;
    text-transform: uppercase;
}

.works_photography-caption a:hover {
    cursor: pointer;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #70BF73;
    text-underline-position: auto;
}

.works_photography-annotation {
    position: relative;
    flex-direction: column;
    width: 679px;
    height: 150px;
    align-self: center;
    padding-top: 17px;
}

.works_photography-annotation-title {
    display: contents;
    position: relative;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    color: #252525;
    font-size: 18px;
    font-weight: 300;
    line-height: 24.51px;
    letter-spacing: 1.15px;
}

.works_photography-annotation-text-left-align {
    text-align: left;
}

.works_photography-annotation-text-right-align {
    text-align: right;
}

.works_photography-annotation-main-text {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    position: relative;
    max-width: 579px;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.83px;
    color: #C2C2C2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.works_photography-annotation-read-more {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 17.7px;
    letter-spacing: 0.83px;
    color: #252525;
}

.works_photography-annotation-read-more a:hover {
    cursor: pointer;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #70BF73;
    text-underline-position: auto;
}

.works_photography-caption-kitten {
    position: relative;
    top: 271px;
    left: 494px;
}

.works_photography-caption-camera {
    position: relative;
    top: 280px;
    left: 0;
}